header{
    width: 100%;
    background-image: linear-gradient(var(--almost-black) 0%, rgba(119, 119, 119, 0) 100%);
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid red;
}

@media screen and (max-width: 768px) {
    header{
        max-height: none;
        height: auto;
    }
}